<div class="container content-starter">
    <div class="row">
        <div class="col-lg-10">
            <h1><i class="icon-exchange"></i> Activity ID - {{id}}</h1>
        </div>
        <div class="col-lg-2">
            <button id="btn-back" class="btn btn-lg pull-right"><i class="icon-long-arrow-left"></i> Back</button>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="activityTimes">
    <div class="row">

        <div class="col-xs-6">
            <h5><strong>Start Time</strong></h5>
            <h3>{{startTime}}</h3>
        </div>
        <div class="col-xs-6">
            <h5><strong>End Time</strong></h5>
            <h3>{{endTime}}</h3>

        </div>

    </div>
</div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">

        <h4><i class="icon-bell"></i> Events [Stream Name | Host | Server | Message Directions | Service Name | Time]</h4>

        <div class="accordion">
            {{#each events}}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne{{{this.index}}"> <h5><b>{{this.stream}}:{{this.version}} | {{this.host}} |
                        {{this.server}} | {{this.direction}} | {{this.serviceName}} | {{this.timestamp}}</b><i class="icon-chevron-down"></i></h5> </a>
                </div>
                <div id="collapseOne{{{this.index}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each this.content}}
                            <tr>
                                <td>{{this.name}}</td><td>{{this.value}}</td>
                            </tr>
                            {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>
<script>
    $().ready(function() {
        // validate the comment form when it is submitted
        $("#searchForm").validate();
        $('#datetimepicker1').datetimepicker({
            language : 'en',
            pick12HourFormat : true
        });
        $('#datetimepicker2').datetimepicker({
            language : 'en',
            pick12HourFormat : true
        });
    });
</script>
