<div class="container content-starter">
	<div class="row">
		<div class="col-lg-10">
			<h1><i class="icon-comments"></i> Search results</h1>
		</div>
		<div class="col-lg-2">
			<button id="btn-back" class="btn btn-lg pull-right">
				<i class="icon-long-arrow-left"></i> Back to search
			</button>
		</div>
	</div>
</div>
<div class="container search-results">
	<div class="row">
		<div class="col-lg-12">
			<table class="table">
				<tr>
					<th class="col-sm-3">Activity ID</th>
					<th class="col-sm-2">Type</th>
					<th class="col-sm-3">Host</th>
					<th class="col-sm-3">Timestamp</th>
					<th class="col-sm-1"><span style="display: block; width: 161px;"></span></th>
				</tr>
				{{#each results}}
				<tr>
					<td colspan="5">
					<table class="table message-result-table">
						<tr>
							<td class="col-sm-3"><a href="{{url "/activity.jag"}}?id={{this.activityId}}">{{this.activityId}}</a></td>
							<td class="col-sm-2">{{messageBodyType}}</td>
							<td class="col-sm-3">{{host}}</td>
							<td class="col-sm-3">{{timestamp}}</td>
							<td class="col-sm-1"><a href="#" class="btn btn-default btn-show-msg" data-expand="false"><i class="icon-chevron-down"></i> Expand Message</a></td>
						</tr>
						<tr>
							<td colspan="5" style="padding:0">
								<div class="message-result-row">
									<div class="message-body">
									    {{#if messageBody}}
										<pre><code>{{messageBody}}</code></pre>
										{{else}}
                                        <pre>
										    <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each content}}
                                                    <tr>
                                                        <td>{{this.name}}</td>
                                                        <td>{{this.value}}</td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </pre>
                                        {{/if}}
									</div>
								</div>
							</td>
						</tr>
					</table></td>
				</tr>

				{{/each}}

			</table>
			<!--<ul class="pagination">-->
				<!--<li class="active">-->
					<!--<a href="#">&laquo;</a>-->
				<!--</li>-->
				<!--&lt;!&ndash;<li>&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="#">1</a>&ndash;&gt;-->
				<!--&lt;!&ndash;</li>&ndash;&gt;-->
				<!--&lt;!&ndash;<li>&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="#">2</a>&ndash;&gt;-->
				<!--&lt;!&ndash;</li>&ndash;&gt;-->
				<!--&lt;!&ndash;<li>&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="#">3</a>&ndash;&gt;-->
				<!--&lt;!&ndash;</li>&ndash;&gt;-->
				<!--&lt;!&ndash;<li>&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="#">4</a>&ndash;&gt;-->
				<!--&lt;!&ndash;</li>&ndash;&gt;-->
				<!--&lt;!&ndash;<li>&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="#">5</a>&ndash;&gt;-->
				<!--&lt;!&ndash;</li>&ndash;&gt;-->
				<!--<li>-->
					<!--<a href="#">&raquo;</a>-->
				<!--</li>-->
			<!--</ul>-->
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				...
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->