<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h2>Activity ID - {{id}}</h2>
        </div>
    </div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 page-main-details">
        <label class="pull-left"><strong>Start Time</strong>:{{startTime}}</label>
        <label class="pull-left"><strong>End Time</strong>:{{endTime}}</label>
        <div style="clear:both"></div>
    </div>
</div>
</div>
<div class="container content-section-wrapper">
<div class="row">
    <div class="col-lg-12 content-section">

        <h3>Events [Stream Name | Host | Server | Message Directions | Service Name | Time]</h3>

        <div class="accordion">
            {{#each events}}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne{{{this.index}}">
                        <h5><b>{{this.stream}}:{{this.version}} | {{this.host}} | {{this.server}} | {{this.direction}} | {{this.serviceName}} | {{this.timestamp}}</b></h5>
                    </a>
                </div>
                <div id="collapseOne{{{this.index}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each this.content}}
                            <tr><td>{{this.name}}</td><td>{{this.value}}</td></tr>
                            {{/each}}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>
<script>
    $().ready(function () {
        // validate the comment form when it is submitted
        $("#searchForm").validate();
        $('#datetimepicker1').datetimepicker({
            language: 'en',
            pick12HourFormat: true
        });
        $('#datetimepicker2').datetimepicker({
            language: 'en',
            pick12HourFormat: true
        });
    });
</script>